<style type="text/css">
	p {
	    word-wrap: break-word;
	}
	.form-group {
		margin-top: 0px;
		margin-bottom: 0px;
	}
	.form-horizontal .form-group .portal-uib-accordion {
	    margin-right: 32px;
	    margin-left: 32px;
	}
</style>

<div class="form-horizontal">
	<br>
	<legend>
		&nbsp&nbsp
		<b>Summary detail:</b>
	</legend>

	<div class="form-group" ng-repeat="field in summaryData.formData.fieldAry">
		<div ng-if="summaryData.data[field.name]">

			<!-- Non-Object -->
			<div ng-if="!isObjProp(summaryData.data[field.name])">
				<label class="col-sm-2 control-label">{{field.label}}:</label>
				<div class="col-sm-10">
					<p ng-if="field.type=='text' 
					|| field.type=='number' 
					|| field.type=='email' 
					|| field.type=='radio'
					|| field.type=='textarea'" 
					class="form-control-static">
						{{summaryData.data[field.name]}}
					</p>
					<p ng-if="field.type=='date'" class="form-control-static">
						{{summaryData.data[field.name] | date:'yyyy-MM-dd'}}
					</p>
					<p ng-if="field.type=='time'" class="form-control-static">
						{{summaryData.data[field.name] | date:'h:mma'}}
					</p>
				</div>
			</div>

			<!-- Object -->

			<div ng-if="isObjProp(summaryData.data[field.name])" class="portal-uib-accordion">
				<uib-accordion close-others="true">
					<div uib-accordion-group class="panel-default" is-open="false">
						<uib-accordion-heading>
							{{field.label}}:
						</uib-accordion-heading>
						<div class="col-sm-11">
							<portal-key-val key="" dataval="summaryData.data[field.name]"></portal-key-val>
						</div>
					</div>
				</uib-accordion>
			</div>
		</div>
	</div>

	<div ng-hide="summaryData">
		<h1>Either no row is selected from grid or no summary is available for selected row.</h1>
	</div>
</div>