<div>
	<div class="page-header">
		<h1>{{formData.formDesc}}<small>{{formData.formDescSub}}</small></h1>
	</div>

	<form name="{{formData.form}}" class="form-horizontal">

		<div ng-repeat="field in formData.fieldAry" ng-hide="field.hidden">

			<div ng-if="field.groupStart">
				<div class="form-group">
					<label class="col-sm-2 control-label"></label>
					<div class="col-sm-2">
						<label class="control-label">{{field.groupDesc}}</label>
					</div>
				</div>
				<hr>
			</div>

			<div class="form-group">
				<label for="{{field.modalData}}" class="control-label" ng-class="{'col-sm-1': !formData.onlyForm, 'col-sm-2': formData.onlyForm}">
					<span ng-hide="field.hideLabel">{{field.label}}</span>
				</label>
				<div class="col-sm-8">

					<!-- TEXT / EMAIL-->
					<div ng-if="field.type=='text' || field.type=='email'">
						<input 
							ng-show="field.readOnly" 
							type="{{field.type}}" 
							name="{{field.modalData}}" 
							class="form-control" 
							placeholder="{{formData.data[field.modalData]}}" 
							ng-required="field.required" 
							disabled>
						<input 
							ng-hide="field.readOnly" 
							type="{{field.type}}" 
							name="{{field.modalData}}" 
							class="form-control" 
							placeholder="{{field.label}}" 
							ng-required="field.required" 
							ng-model="formData.data[field.modalData]">
						<br><br>
					</div>

					<!-- NUMBER-->
					<div ng-if="field.type=='number'">
						<input 
							ng-show="field.readOnly" 
							type="{{field.type}}" 
							ng-min="{{field.min}}" 
							ng-max="{{field.max}}" 
							ng-minlength="{{field.min}}" 
							ng-maxlength="{{field.max}}" 
							name="{{field.modalData}}" 
							class="form-control" 
							placeholder="{{formData.data[field.modalData]}}" 
							ng-required="field.required" 
							disabled>
						<input 
							ng-hide="field.readOnly" 
							type="{{field.type}}" 
							ng-min="{{field.min}}" 
							ng-max="{{field.max}}" 
							ng-minlength="{{field.min}}" 
							ng-maxlength="{{field.max}}" 
							name="{{field.modalData}}" 
							class="form-control" 
							placeholder="{{field.label}}" 
							ng-required="field.required" 
							ng-model="formData.data[field.modalData]" 
							ng-change="onIpValChange_exp(field)">
						<br><br>
						<div class="alert alert-warning" role="alert" ng-show="field.isNotValid">
							'{{field.label}}' should be a Number between [{{field.min}}] and [{{field.max}}]
						</div>
					</div>

					<!-- RADIO -->
					<div ng-if="field.type=='radio'">
						<label 
							class="radio-inline" 
							ng-repeat="option in field.options track by $index">
							<!-- RADIO option-check logic works on String compare. Here from server we can as well get true instead of "true"-->
							<br>
							<input 
								class="form-control"
								type="radio" 
								name="{{option.name}}" 
								value="{{option.value}}" 
								ng-checked="{{ option.value === formData.data[field.modalData]}}" 
								ng-required="field.required" 
								ng-model="formData.data[field.modalData]">
							{{option.label}}
						</label>
					</div>

					<!-- TEXT-AREA-->
					<div ng-if="field.type=='textarea'">
						<textarea 
							class="form-control" 
							rows="3" name="{{field.modalData}}" 
							ng-required="field.required" 
							ng-model="formData.data[field.modalData]">
						</textarea>
						<br><br>
					</div>

					<!-- DATE -->
					<div ng-if="field.type=='date'">
						<p class="input-group">
							<input 
								type="text" 
								class="form-control" 
								uib-datepicker-popup="dd-MMMM-yyyy" 
								ng-model="formData.data[field.modalData]" 
								is-open="field.isOpen" 
								datepicker-options="dateOptions" 
								ng-required="field.required" 
								close-text="Close"/>
							<span class="input-group-btn">
								<button type="button" class="btn btn-default" ng-click="field.isOpen = true"><i class="glyphicon glyphicon-calendar"></i></button>
							</span>
						</p>
					</div>

					<!-- TIME -->
					<div ng-if="field.type=='time'">
						<div uib-timepicker ng-model="formData.data[field.modalData]" hour-step="1" minute-step="1" show-meridian="true">
						</div>
					</div>

					<!-- SELECT-->
					<div ng-if="field.type=='select'">
						<select 
							ng-model="formData.data[field.modalData]" 
							required="required" 
							ng-options="option.val as option.label for option in field.values" >
						</select>
						<div><br></div>
					</div>

					<!-- SEARCH -->
					<div ng-if="field.type=='search'">
					    <input 
					    	type="text" 
					    	ng-model="field.val" 
					    	placeholder="Locations loaded via $http" 
					    	uib-typeahead="opt.name for opt in fetchTypeaheadData($viewValue, field)" 
					    	typeahead-loading="loadingLocations" 
					    	typeahead-no-results="noResults" 
					    	class="form-control"
					    	typeahead-on-select="processSearch($item, $model, $label, formData, field)">
					    <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
					    <div ng-show="noResults">
					    	<i class="glyphicon glyphicon-remove"></i> No match..
					    </div>
					    <br>
					    <br>
					</div>

					<!-- MODAL -->
					<!--
						Both form and list controller get identity from "formData".
						"ng-init" is setting "parentForm" which will be used in Address/Contact/JobInst Ctrl to know the parentForm with $on/$
					-->
					<div ng-if="field.type=='modal'" ng-init="parentForm=formData.service+'.'+field.modalData">
						<button type="button" class="btn btn-primary btn-sm" ng-click="processModel(formData, field)">Add</button>
						<div portal-dynamic-ctrl="field.listController">
							<portal-table 
								data="gridData" 
								editfn="edit(editRow)" 
								viewfn="view(viewRow)" 
								deletefn="delete(deleteRow)"
								searchfn="fetch(searchIp)">
							</portal-table>
						</div>
					</div>

					<!-- Warning -->
					<div ng-if="field.type=='object'">
						<portal-form form-data="field.object"/>
					</div>

					<!-- -->
					<div class="alert alert-warning" role="alert" ng-repeat="errStr in field.errors">{{errStr}}</div>
				</div>
			</div>
		</div>

		<div class="form-group" ng-if="!formData.isChild">
			<label class="col-sm-2 control-label"></label>
			<div class="col-sm-2">
				<button type="button" class="btn btn-success form-control" ng-click="submitForm($parent.$eval(formData.form+'.$valid'))">Submit</button>
			</div>
		</div>

	</form>
</div>