<div class="">
	<!--
	<div>
		Current search : {{searchRow}}
		<br>
		Showing {{ filtered_rows.length }} / {{ data.rowData.length }} result!
		<br>
		row selected {{ selectedRow }}
	</div>
	-->
	<!-- 
	<div>
		<button class="btn btn-primary btn-xs" type="button" ng-click="viewRow()" >View</button>
		<button class="btn btn-success btn-xs" type="button" ng-click="editRow()">Edit</button>
		<button class="btn btn-danger btn-xs" type="button" ng-click="deleteRow()">Delete</button>
		<button class="btn btn-danger btn-xl" type="button" ng-click="searchData(1, data.rowsPerPage)">Search</button>
	</div>
	-->
	<div>
		<div id="tblData" ng-hide="summary.active" >
			<div class="neo-horizontal-scroll">
				<div class="table-responsive">
					<table class="table table-condensed">
						<thead>
							<tr>
								<th>#</th>
								<th ng-repeat="column in data.columnData" id="{{column.id}}">
									<a href="" ng-click="sort(column.id)">{{column.label}}</a>
									<br>
						    		<input type="text" ng-model="searchRow[column.id]" class="col-lg-12" ng-keypress="enterSearchData($event)">
								</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="row in filtered_rows = (data.rowData | filter:searchRow | orderBy:sortCol:sortOrder) track by $index" 
								ng-click="selectRow(row)" 
								ng-class="{active : row.selected}"
								ng-init="row.portalId=$index">
								<td>
									{{ (data.rowsPerPage * (data.currentPageNo - 1)) + $index + 1 }}
								</td>
								<td ng-repeat="column in data.columnData">
									<span ng-hide="column.type=='ary'">{{row[column.id]}}</span>
									<span ng-show="column.type=='ary'" ng-repeat="(key, value) in row[column.id] track by $index">
										{{value[column.path1]}}<br>
									</span>
								</td>
								<td ng-if="data.columnData.action">
									<span>
										<span ng-click="viewRow(row)" class="glyphicon glyphicon-zoom-in" aria-hidden="true" style="cursor: pointer;color: green"></span>
										<span ng-click="editRow(row)" class="glyphicon glyphicon-edit" aria-hidden="true" style="cursor: pointer;color: blue"></span> 
										<span ng-click="deleteRow(row)" class="glyphicon glyphicon-remove" aria-hidden="true" style="cursor: pointer;color: red"></span>
									</span>
								</td>
							</tr>
						</tbody>
					</table>
				</div>	
				<div>
					<ul class="pagination">
						<li>
							<span ng-click="searchData(1, data.rowsPerPage)">
								&laquo;
							</span>
						</li>
						<!--
						<li class="active">
							<a href="#">
								1 
								<span class="sr-only">
									(current)
								</span>
							</a>
						</li>
						-->
            			<li ng-repeat="i in data.pageAry track by $index">
            				<span ng-click="searchData($index+1, data.rowsPerPage)">{{$index+1}}</span>
            			</li>
					</ul>
				</div>
			</div>
		</div>
		<div id="rowSummary" ng-show="summary.active" class="row">
			<div class="col-md-12">
				<div class="form-horizontal">
				
				  	<div class="form-group" ng-repeat="(key, value) in summary.data">
					    <label class="col-sm-2 control-label">{{key}}</label>
					    <div class="col-sm-10">
	    					<p class="form-control-static">{{value}}</p>
					    </div>
				  	</div>
				  	
				</div>
			</div>
		</div>
	</div>
</div>