<style type="text/css">
	p {
	    word-wrap: break-word;
	}
</style>

<div class="form-horizontal">
	<br>
	<legend><b>Summary detail:</b></legend>
	<div ng-repeat="(key, val) in summaryData.data" class="form-group">
		<div ng-repeat="field in summaryData.formData.fieldAry">
			<div ng-if="field.name==key">
				<div ng-if="!isObjProp(val)">
					<label class="col-sm-3 control-label">{{field.label}}:</label>
					<div class="col-sm-9">
						<p class="form-control-static">{{val}}</p>
					</div>
				</div>
				<div ng-if="isObjProp(val)">
					<label class="col-sm-3 control-label">{{field.label}}:</label>
					<div class="col-sm-9">
						<p class="form-control-static"></p>
					</div>
					<div class="form-horizontal">
						<div ng-repeat="(k, v) in val" class="form-group">
							<label class="col-sm-4 control-label">{{k}}:</label>
							<div class="col-sm-8">
								<p class="form-control-static">{{v}}</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>	
	<div ng-hide="summaryData">
		<h1>Either no row is selected from grid or no summary is available for selected row.</h1>
	</div>
</div>