<div class="">
	<!--
	<div>
		Current search : {{searchRow}}
		<br>
		Showing {{ filtered_rows.length }} / {{ pdata.rowData.length }} result!
		<br>
		row selected {{ selectedRow }}
	</div>
	-->
	<!-- 
	<div>
		<button class="btn btn-primary btn-xs" type="button" ng-click="viewRow()" >View</button>
		<button class="btn btn-success btn-xs" type="button" ng-click="editRow()">Edit</button>
		<button class="btn btn-danger btn-xs" type="button" ng-click="deleteRow()">Delete</button>
		<button class="btn btn-danger btn-xl" type="button" ng-click="searchData(1, pdata.rowsPerPage)">Search</button>
	</div>
	-->
	<div>
		<div id="tblData" ng-hide="summary.active" >
			<div class="neo-horizontal-scroll">
				<div class="table-responsive">
					<table class="table" ng-class="{'table-condensed': pdata.condensed, 'table-striped': pdata.striped, 'table-bordered': pdata.bordered, 'table-hover': pdata.hover}">
						<!-- Head-->
						<thead>
							<tr>
								<th>#</th>
								<th ng-repeat="column in pdata.columnData" id="{{column.id}}">
									<a href="" ng-click="sort(column.id)">{{column.label}}</a>
									<br>
						    		<input type="text" ng-model="searchRow[column.id]" class="col-lg-12" ng-keypress="enterSearchData($event)">
								</th>
								<th></th>
							</tr>
						</thead>
						<!-- Body -->
						<tbody>
							<tr ng-repeat-start="row in filtered_rows = (pdata.rowData | filter:searchRow | orderBy:sortCol:sortOrder) track by $index" 
								ng-click="selectRow(row)" 
								ng-class="processTRClass(row)"
								ng-init="row.portalId=$index">
								<!-- Index -->
								<td>
									<b style="cursor: pointer" ng-click="viewRow(row)">
										{{ (pdata.rowsPerPage * (pdata.currentPageNo - 1)) + $index + 1 }}
									</b>
								</td>
								<!-- TD -->
								<td ng-repeat="column in pdata.columnData">
									<!-- All -->
									<span ng-class="row.metaData.cellData[column.id].class" uib-tooltip-html="row.metaData.cellData[column.id].tooltip">
										<span ng-if="column.type=='string' || column.type=='number'">
											{{row[column.id]}}
										</span>

										<!-- Date -->
										<span ng-if="column.type=='date'">
											{{row[column.id] | date:'yyyy-MM-dd'}}
										</span>

										<!-- Ary -->
										<span ng-if="column.type=='ary'" ng-repeat="(key, value) in row[column.id] track by $index">
											{{value[column.path1]}}<br>
										</span>

										<!-- Model-Ary -->
										<span 
											ng-if="column.type=='modelAry'" 
											ng-repeat="(key, value) in row[column.id] track by $index" 
											style="cursor: pointer" 
											ng-click="viewColumn(value, column)">
											<u>{{key}}</u><br>
										</span>

										<!-- Model -->
										<span 
											ng-if="column.type=='model'" 
											style="cursor: pointer" 
											ng-click="viewColumn(row[column.id], column)">
											<u>{{row[column.id][column.internalProp]}}</u>
										</span>
									</span>
								</td>
								<!-- Action -->
								<td ng-if="pdata.columnData.action">
									<span>
										<span ng-click="editRow(row)" class="glyphicon glyphicon-edit" aria-hidden="true" style="cursor: pointer;color: blue"></span> 
										<span ng-click="deleteRow(row)" class="glyphicon glyphicon-remove" aria-hidden="true" style="cursor: pointer;color: red;display: none;"></span>
									</span>
								</td>
							</tr>

							<!-- Internal Grid-->

							<tr ng-repeat-end ng-if="row.expanded && pdata.internalGrid" ng-init="initInternalGrid(row)" ng-show="row.internalGrid" style="background-color: #f9f9f9;">
								<td colspan="12" class="hiddenRow">
									<div class="panel panel-default">
										<div class="panel-body">
											<portal-table pdata="row.internalGrid"></portal-table>
										</div>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>	

				<!-- Pagination -->

				<div ng-hide="pdata.avoidPagination">
					<ul class="pagination">
						<li>
							<span ng-click="searchData(1, pdata.rowsPerPage)">
								&laquo;
							</span>
						</li>
						<!--
						<li class="active">
							<a href="#">
								1 
								<span class="sr-only">
									(current)
								</span>
							</a>
						</li>
						-->
            			<li ng-repeat="i in pdata.pageAry track by $index">
            				<span ng-click="searchData($index+1, pdata.rowsPerPage)">{{$index+1}}</span>
            			</li>
					</ul>
				</div>
			</div>
		</div>

		<!-- Row-Summary -->
		<div id="rowSummary" ng-show="summary.active" class="row">
			<div class="col-md-12">
				<div class="form-horizontal">
				
				  	<div class="form-group" ng-repeat="(key, value) in summary.data">
					    <label class="col-sm-2 control-label">{{key}}</label>
					    <div class="col-sm-10">
	    					<p class="form-control-static">{{value}}</p>
					    </div>
				  	</div>
				  	
				</div>
			</div>
		</div>
	</div>
</div>