<!--
<br>
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-6">
        <portal-form form-data="clientData" actionfn="update(data)"/>
    </div>
</div>
<br>
-->
<link rel="stylesheet" type="text/css" href="element/css/wizzard-vertical.css">

<div class="nav-side-menu">
    <!-- Following will not be visible. Its there only to keep some space from the top for static banner.-->
    <div class="brand">Job</div>
    <div class="menu-list">
    	<ul id="menu-content" class="menu-content collapse out">
	        <li ng-repeat="(key, step) in wizzard.wizzardStepData" ng-class="{active: step.active}" ng-click="selectWizzardStep(step)">
	        	<a href="">{{step.label}}</a>
	        </li>
    	</ul>
    </div>
</div>
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-4" ng-repeat="(key, value) in wizzard.wizzardData" ng-hide="value.isHidden">
        <portal-form 
            form-data="value" 
            actionfn="submit(formData, data)" 
            form-service="formService"/>
    </div>
</div>


