<button ng-click="tableParams.sorting({})" class="btn btn-default">Clear sorting</button>

{{checkboxes.items}}

<table ng-table="tableParams" show-filter="true" class="table">
    <tr ng-repeat="user in $data" ng-class="{ 'emphasis': user.money > 500 }">
        <td width="30" style="text-align: left" header="'ng-table/headers/checkbox.html'">
            <input type="checkbox" ng-model="checkboxes.items[user.id]" />
        </td>
        <td data-title="'Name'" filter="{ 'name': 'select' }" filter-data="names($column)">
            {{user.name}}
        </td>
        <td data-title="'Money'" sortable="money">
            {{user.money}}
        </td>
    </tr>
</table>
<script type="text/ng-template" id="ng-table/headers/checkbox.html">
        <input type="checkbox" ng-model="checkboxes.checked" id="select_all" name="filter-checkbox" value="" />
    </script>